<div *ngIf="candidate.status == 1">
  <div class="card my-5">
    <div class="card-body">


      <div class="row">
        <div class="col-12">
            <div *ngIf="edits&&!saved" class="alert alert-primary" role="alert">
                Unsaved Changes
              </div>
              <div *ngIf="saved&&!edits" class="alert alert-success" role="alert" style="line-height: 20px">
                <i class="material-icons">save</i>
              </div>
              <div *ngIf="!edits&&!saved" class="alert alert-light" role="alert">
              </div>
        </div>
      </div>

      <div class="row">
          <h3 style="margin-left:15px; margin-bottom:30px"> {{candidate.firstname}} {{candidate.lastname}}'s Questions </h3>
          <br> 
      </div>
      <div class="row">
        <div class="col-2">          
          <button style="margin-bottom: 15px; 
                  position: -webkit-sticky;
                  position: sticky;
                  top: 2rem;"
                  class="btn btn-outline-primary clearfix float-left" 
                  (click)="saveAssignedQuestions(assignedQuestions)">
              Save Changes
          </button>
        </div>

        <div class="col-5">
          <div style="width:100%" class="example-container">
            <h4>Assigned</h4>

            <div style="margin-bottom: 15px; 
                      position: -webkit-sticky;
                      position: sticky;
                      top: 2rem; width:100%;"
                  cdkDropList #assignedQuestionsList="cdkDropList" 
                  [cdkDropListData]="assignedQuestions"
                  [cdkDropListConnectedTo]="[availableQuestionsList]" 
                  class="example-list clearfix float-left" 
                  (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let question of assignedQuestions" cdkDrag>{{question.name}}</div>
            </div>
          </div>
        </div>

        <div class="col-5">
          <div style="width:100%" class="example-container">
            <h4>Available</h4>

            <div style="width:100%" cdkDropList #availableQuestionsList="cdkDropList" [cdkDropListData]="availableQuestions"
              [cdkDropListConnectedTo]="[assignedQuestionsList]" class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let question of availableQuestions" cdkDrag>{{question.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="candidate.status != 1">
    <div class="card my-5">
      <div class="card-body">
        <h2 class='justify-content-center'>Interview In Progress</h2>
      </div>
    </div>
  </div>


  <!-- <div>
   
    <button type="button" class="btn btn-outline-dark" 
    (click)="activeModal.close('Close click')">Close</button>
</div> -->