<div *ngIf="candidate.status == 1">
  <div class="card my-5">
    <div class="card-body">
      <div *ngIf="edits&&!saved" class="alert alert-primary" role="alert">
        Unsaved Changes
      </div>
      <div *ngIf="saved&&!edits" class="alert alert-success" role="alert" style="line-height: 20px">
        <i class="material-icons">save</i>
      </div>
      <div *ngIf="!edits&&!saved" class="alert alert-light" role="alert">
      </div>
      <h4>Questions assigned to {{candidate.firstname}}: </h4>
      <span style="margin-bottom: 15px" class="btn btn-outline-primary"
        (click)="saveAssignedQuestions(assignedQuestions)">Save
        Changes</span>

        <div class="row">
          <div class="col">
            <div class="example-container">
              <h2>Assigned Questions</h2>
  
              <div cdkDropList #assignedQuestionsList="cdkDropList" [cdkDropListData]="assignedQuestions"
                [cdkDropListConnectedTo]="[availableQuestionsList]" class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let question of assignedQuestions" cdkDrag>{{question.name}}</div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="example-container">
              <h2>Available</h2>
  
              <div cdkDropList #availableQuestionsList="cdkDropList" [cdkDropListData]="availableQuestions"
                [cdkDropListConnectedTo]="[assignedQuestionsList]" class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let question of availableQuestions" cdkDrag>{{question.name}}</div>
              </div>
            </div>
      
          </div>
      </div>
    </div>
  </div>

  <div *ngIf="candidate.status != 1">
    <div class="card my-5">
      <div class="card-body">
        <h2 class='justify-content-center'>Interview In Progress</h2>
      </div>
    </div>
  </div>


  <!-- <div>
   
    <button type="button" class="btn btn-outline-dark" 
    (click)="activeModal.close('Close click')">Close</button>
</div> -->