  <div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="">
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col" style="width: 25%">Name</th>
            <th scope="col" style="width: 10%">Type</th>
            <th scope="col" style="width: 10%">Level</th>
            <th scope="col" style="width: 30%">Text</th>
            <th scope="col" style="width: 25%">Answer</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let question of questions | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" 
          (click)="open(question)"
          scope="row">
            <!-- <td>{{ question.id }}</td> -->
            <td style="width: 25%">{{ question.name }}</td>
            <td style="width: 10%">{{ question.type }}</td>
            <td style="width: 10%">{{ question.level }}</td>
            <td style="width: 30%">{{ (question.text.length > 50) ?(question.text | slice:0:50)+'...':question.text }}</td>
            <td style="width: 25%">{{ (question.answer.length > 50) ? (question.answer | slice:0:50)+'...':question.answer }}</td>
          </tr>
        </tbody>
      </table>  
      <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="questions.length">
      </ngb-pagination>  
    </div>
    
  </div>