<div class="card my-5">
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <h3>Candidate: {{ interview.candidate.firstname }} {{ interview.candidate.lastname }}</h3>
      </div>

      <div class="col-6">
        <div *ngIf="interview.status == 1" class="alert alert-primary" role="alert">
          Status: New
        </div>
        <div *ngIf="interview.status == 2" class="alert alert-primary" role="alert">
          Status: Pending Review
          </div>
        <div *ngIf="interview.status == 3" class="alert alert-success" role="alert">
          Status: Finalized
        </div>
      </div>
      
    </div>

    <div class="row">
      <div class="col-12">
        <p>ID: {{ interview.interview_id }}</p>
      </div>
    </div>

      <div class="card mb-3" *ngFor="let response of interview.responses">
        <div class="card-header">
          <b>Question:</b> {{ response.question.name }}
        </div>
        <div class="card-body">
          <h5 class="card-title"> Level {{ response.question.level }}</h5>
          <p class="card-text">{{ response.question.text }}</p>
      </div>
    </div>
  </div>
</div>