<!-- <div>
  <input #fileInput type="file" ng2FileSelect [uploader]="uploader"/>
 
  <div class="drop-box" ng2FileDrop
       [ngClass]="{'dragover': isDropOver}"
       [uploader]="uploader"
       (fileOver)="fileOverAnother($event)"
       (click)="fileClicked()">
    <span class="drag-in-title">Import or drag .xlsx file here</span>
    <span class="drag-over-title">Drop the file</span>
  </div>
</div> -->


<div style="text-align:center">
      <input type="file" (change)="selectFile($event)">
      <button [disabled]="!selectedFiles" (click)="upload()">Upload</button>
</div>