<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #questionForm="ngForm">
        <!-- debug <p> {{question.name }} {{question.type }} {{question.level }} {{question.text }} {{question.answer }}</p> -->
        <div class="form-group">
          <label for="name">Question Name</label>
          <input type="text" [(ngModel)]="question.name" 
            class="form-control" id="name" name="name" placeholder="Enter question name"
            required #name="ngModel">
        </div>
        <!-- <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div> -->

        <div class="form-group">
            <label for="type">Type</label>

            <!-- <input type="text" [(ngModel)]="question.type" 
              class="form-control" id="name" name="name" placeholder="Enter question type"
              required #type="ngModel"> -->

            <select class="form-control"  id="type"
              required
              [(ngModel)]="question.type" name="type">
            <option *ngFor="let type of types" [value]="type">{{type}}</option>
            </select>
        </div>
        <!-- <div [hidden]="!type.pristine" class="alert alert-danger">Type is required</div> -->

        <div class="form-group">
            <label for="level">Level</label>

            <!-- <input type="text" [(ngModel)]="question.level" 
              class="form-control" id="level" name="level" placeholder="Enter question level"
              required #level="ngModel"> -->

            <select class="form-control"  id="level"
              required
              [(ngModel)]="question.level" name="level">
            <option *ngFor="let level of levels" [value]="level">{{level}}</option>
            </select>

        </div>
        <!-- <div [hidden]="!level.pristine" class="alert alert-danger">Level is required</div> -->

        <div class="form-group">
            <label for="text">Text</label>
            <input type="text" [(ngModel)]="question.text" 
              class="form-control" id="text" name="text" placeholder="Enter question text"
              required #text="ngModel">
        </div>
        <!-- <div [hidden]="!text.pristine" class="alert alert-danger">Text is required</div> -->

        <div class="form-group">
          <label for="answer">Answer</label>
          <input type="text" [(ngModel)]="question.answer" 
            class="form-control" id="answer" name="answer" placeholder="Enter correct answer"
            required #answer="ngModel">
        <!-- <div [hidden]="!answer.pristine" class="alert alert-danger">Answer is required</div> -->
        </div>

        <button type="submit" [disabled]="!questionForm.form.valid" class="btn btn-info">Submit</button>
      </form>
      <br>
      <label>Bulk Upload</label>

      <div style="text-align:center">
          <input type="file" (change)="selectFile($event)">
          <button [disabled]="!selectedFiles" (click)="upload()">Upload</button>
      </div>
      <!-- <app-fileupload></app-fileupload> -->
    </div>
  </div>
