<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="">
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Status</th>
            <th scope="col">Notes</th>
            <th style="width: 10%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let candidate of candidates | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td>{{ candidate.firstname }}</td>
            <td>{{ candidate.lastname }}</td>
            <td>{{ candidate.status }}</td>
            <td>{{ (candidate.notes.length > 50) ?(candidate.notes | slice:0:50)+'...':candidate.notes }}</td>
            <td style="width: 10%"> 
              <div class="btn btn-info" [routerLink]="['/candidate/', candidate.candidate_id]">Assigned Questions</div>
             </td>
          </tr>
        </tbody>
      </table>  
      <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="candidates.length">
    </ngb-pagination>    
    </div>
  </div>
  